:root {
    box-sizing: border-box;
    font-size: 0.875em;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: helvetica, arial, sans-serif;
}

main > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

footer {
    text-align: center;
}
