:root {
  box-sizing: border-box;
  font-size: 0.875em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: helvetica, arial, sans-serif;
  padding: 6rem;
  background-color: lightgrey;
}

main {
  max-width: 40rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 1rem;
  padding: 1em 1.5em 3em 1.5em;
}

h1 {
  font-size: 1em;
  text-align: center;
}

.dropzone {
  border: 2px dashed #B2FFFF;
  color: blueviolet;
  margin: 2rem 0;
  border-radius: 1rem;
  background-color: #F0F8FF;
  padding: 5em 5em;
}

.dropzone > p {
  text-align: center;
  color: grey;
  font-size: 1rem;
}

.dropzone > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.dz-button {
  background-color: #4B9CD3;
  color: white;
  border-radius: 0.5em;
  padding: 0.5em 0.875em;
  border-width: 0px;
}

footer > p {
  text-align: center;
}
