:root {
  box-sizing: border-box;
  font-size: 0.875em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: helvetica, arial, sans-serif;
  padding: 6rem;
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

.dropzone {
  border: 2px dashed #B2FFFF;
  color: blueviolet;
  margin: 2rem 0;
  border-radius: 1rem;
  background-color: #F0F8FF;
  padding: 5em 5em;
}

h1 {
  font-size: 1em;
  text-align: center;
}

footer > p {
  text-align: center;
}
